extends layout 

block content 
  h1 Genre: #{genre.name}
  div(style="margin-left:20px;margin-top:20px")

    h2(style='font-size: 1.5rem;') Books
      
    if books_in_genre.length 
      dl 
        each book in books_in_genre 
          dt 
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else 
      p There are no books of this genre.
